/*Imports*/
@import url(./styles/headerStyle.css);
@import url(./styles/generalStyles.css);
@import url(./timeWeather/timeWeatherStyles.css);
@import url(./styles/loginStyles.css);
/*Other styles*/
/* 
.wrapper-off {
	display: none;
} */

.main-title {
	margin-top: 10px;
	font-size: 24px;
}